body {
  font-family: 'Lato', sans-serif;
background: #C3DBC5;
  background-size: cover;
  height: 100vh;
  padding: :0;
  margin:0;
}
p{
  text-size:50px;
}

.buton{
  cursor: pointer;
  height:15px;
  width: 15px;
  transition-duration: 0.4s;
  background-color: green;

}
.buton:hover{
border:3px solid #243E36;
background:#7CA982;
}

#quiz {
	margin:auto;
	background: #7798AB;
	padding: 10px 20px 10px 20px;
	width: 700px;
	border-radius: 20px;

}
h1{
  color:#41463D;
  text-align: center;
}


.indent{
  padding-left: 1.28em;
}
input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: solid black 1px;
	padding-left: 5px;
}


#button {
	background: green;
  display: block;
	border: 1px solid green;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}
.footer{
  position:fixed;
  bottom:0;
  width:100%;
  left:0;

  text-align: center;
  background-color:#9BC1BC;}

#after_submit{
visibility: hidden;
background: #E8DCB9;
padding :10px 20px 10px 20px;
width: 550px;
border-radius: 20px;
margin: auto;
margin-top: 20px;
font-size:30px;
}

#button:hover {
	background: white;
	border: 3px solid green;
	color: black;
	cursor: pointer;
}

#picture {
margin-left: 86px;
	width: 375px;
	height: 245px;

}

#mc {
  display: inline;
}
